In [22]:
# COdigo para carregar varios arquivos csv, disponibilizados em varias pastas, em um unico dataframe pandas servindo para qualquer tipo de analise

# Importando as bibliotecas
import pandas as pd
import numpy as np
import os
#Substitua path pela sua pasta
print("Entre com o seu path:")
get_path = input()
path = get_path
list_paths = []
for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith('.csv'):
            list_paths.append(os.path.join(root, file))

# Criando um dataframe vazio
df = pd.DataFrame()

# Loop para carregar os arquivos csv
for path in list_paths:
    df_temp = pd.read_csv(path, sep=";")
    df = pd.concat([df, df_temp], ignore_index=True)
    
    

# Visualizando o dataframe
df

Entre com o seu path:

,nome,id_inscricao,curso,graduacao_completa,especializacao_completa,mestrado_completo,trabalhos_eventos_nacionais,trabalhos_eventos_internacionais,artigos_sem_qualis,artigos_qualis_b5_c,...,tempo_docencia,nota_cv,area,tematica_1,tematica_2,tematica_3,tematica_4,tematica_5,nota_producao_bibliografica,nota_producao_tecnica_tecnologica
0,Candidato 3,2022-19282,Doutorado,Sim,Sim,Sim,0,0,0,1,...,1,"2,930399",Engenharia do Conhecimento,temática 10,temática 11,temática 15,tematica 18,tematica 19,0,6
1,Candidato 5,2022-08626,Mestrado,Sim,Não,Não,0,1,0,0,...,0,"2,655652",Mídia do Conhecimento,temática 9,temática 13,temática 14,tematica 2,tematica 10,4,0
2,Candidato 4,2022-05828,Mestrado,Sim,Sim,Não,1,0,0,0,...,0,"2,128293",Gestão do Conhecimento,temática 1,temática 3,temática 5,tematica 6,tematica 9,2,5
3,Candidato 6,2022-28322,Mestrado,Sim,Sim,Não,0,2,0,0,...,0,"2,893722",Engenharia do Conhecimento,temática 10,temática 11,temática 16,tematica 17,tematica 18,4,2
4,Candidato 2,2022-02812,Doutorado,Sim,Não,Sim,1,0,0,0,...,1,"4,122232",Mídia do Conhecimento,temática 1,temática 9,temática 10,tematica 13,tematica 14,5,6
5,Candidato 1,2022-02929,Doutorado,Sim,Sim,Sim,1,2,0,0,...,1,"3,693548",Gestão do Conhecimento,temática 1,temática 2,temática 8,tematica 9,tematica 12,7,10