In [17]:
import pandas as pd
import numpy as np

## 1) Crie um conjunto de dados com dois níveis hierárquicos de linhas e  colunas.

In [47]:
# Crie um índice hierárquico de linhas
index = pd.MultiIndex.from_product([['A', 'B'], [1, 2]], names=['Nível 1', 'Nível 2'])

# Crie um DataFrame com valores aleatórios
data = np.random.randint(1, 100, size=(4, 4))

df = pd.DataFrame(data, index=index, columns=['Coluna 1', 'Coluna 2', 'Coluna 3', 'Coluna 4'])

df

                 Coluna 1  Coluna 2  Coluna 3  Coluna 4
Nível 1 Nível 2
A       1              67        77        46        77
        2              30        32        16        36
B       1              82        78        30        16
        2              77        25        50        15

## 2) A partir dos conjunto de dados realize operações de soma, média, mínimo e máximo considerando os níveis de hierarquia das linhas.

In [49]:
sum_level1 = df.groupby(level='Nível 1').sum()

mean_level2 = df.groupby(level='Nível 2').mean()

min_level1 = df.groupby(level='Nível 1').min()

max_level2 = df.groupby(level='Nível 2').max()

print("Soma por Nível 1:\n", sum_level1)
print("\nMédia por Nível 2:\n", mean_level2)
print("\nMínimo por Nível 1:\n", min_level1)
print("\nMáximo por Nível 2:\n", max_level2)

Soma por Nível 1:
          Coluna 1  Coluna 2  Coluna 3  Coluna 4
Nível 1
A              97       109        62       113
B             159       103        80        31

Média por Nível 2:
          Coluna 1  Coluna 2  Coluna 3  Coluna 4
Nível 2
1            74.5      77.5      38.0      46.5
2            53.5      28.5      33.0      25.5

Mínimo por Nível 1:
          Coluna 1  Coluna 2  Coluna 3  Coluna 4
Nível 1
A              30        32        16        36
B              77        25        30        15

Máximo por Nível 2:
          Coluna 1  Coluna 2  Coluna 3  Coluna 4
Nível 2
1              82        78        46        77
2              77        32        50        36

## 3) Agora realize uma agregação (soma, por exemplo) considerando uma das colunas, ou seja, axis=1.

In [52]:
agg_axis1 = df.sum(axis=1)
print("Agregação ao longo das colunas (axis=1):\n", agg_axis1)

Agregação ao longo das colunas (axis=1):
 Nível 1  Nível 2
A        1          144
         2          115
B        1          187
         2          157
dtype: int64

## 4) Crie dois conjuntos de dados (muitos-para-um) e aplique uma junção interna e uma junção externa.

In [58]:
# Primeiro conjunto de dados
data1 = {
    'ID': [1, 2, 3, 4],
    'Nome': ['ana', 'jao', 'jose', 'joana']
}

df1 = pd.DataFrame(data1)

# Segundo conjunto de dados (muitos-para-um)
data2 = {
    'ID': [2, 3, 5],
    'Cargo': ['Gerente', 'Analista', 'Estagiário']
}

df2 = pd.DataFrame(data2)
#junção interna
inner_join = pd.merge(df1, df2, on='ID', how='inner')
print("Junção Interna (Inner Join):\n", inner_join)
#junção externa
outer_join = pd.merge(df1, df2, on='ID', how='outer')
print("Junção Externa (Outer Join):\n", outer_join)

Junção Interna (Inner Join):
    ID  Nome     Cargo
0   2   jao   Gerente
1   3  jose  Analista
Junção Externa (Outer Join):
    ID   Nome       Cargo
0   1    ana         NaN
1   2    jao     Gerente
2   3   jose    Analista
3   4  joana         NaN
4   5    NaN  Estagiário

## 5) Localize linhas do conjunto de dados gerado no exercício anterior considerando determinado critério de localização.

In [59]:
# Localize linhas onde o cargo seja "Gerente"
gerentes = inner_join.loc[inner_join['Cargo'] == 'Gerente']
print("Linhas onde o cargo é 'Gerente':\n", gerentes)

Linhas onde o cargo é 'Gerente':
    ID Nome    Cargo
0   2  jao  Gerente

## 6) Com base no conjunto de dados abaixo realize algumas consultas utilizando o método loc.

In [61]:
df = pd.DataFrame({'Age': [30, 20, 22, 40, 32, 28, 39],
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black',
                             'Red'],
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese',
                            'Melon', 'Beans'],
                   'Height': [165, 170, 120, 80, 180, 172, 150],
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean',
                         'Christina', 'John'])
df

#Com base no conjunto de dados acima realize algumas consultas utilizando o método loc.
# Selecione as linhas onde a idade é maior que 30
print("Linhas onde a idade é maior que 30:\n", df.loc[df['Age'] > 30])

# Selecione as linhas onde o estado é igual a "FL" ou igual a "AL"
print("Linhas onde o estado é igual a 'FL' ou igual a 'AL':\n", df.loc[(df['State'] == 'FL') | (df['State'] == 'AL')])

# Selecione as linhas onde a idade é menor que 30 e o score maior que 8.0
print("Linhas onde a idade é menor que 30 e o score maior que 8.0:\n", df.loc[(df['Age'] < 30) & (df['Score'] > 8.0)])

Linhas onde a idade é maior que 30:
           Age  Color    Food  Height  Score State
Penelope   40  White   Apple      80    3.3    AL
Dean       32   Gray  Cheese     180    1.8    AK
John       39    Red   Beans     150    2.2    TX
Linhas onde o estado é igual a 'FL' ou igual a 'AL':
           Age  Color   Food  Height  Score State
Aaron      22    Red  Mango     120    9.0    FL
Penelope   40  White  Apple      80    3.3    AL
Linhas onde a idade é menor que 30 e o score maior que 8.0:
            Age  Color   Food  Height  Score State
Nick        20  Green   Lamb     170    8.3    TX
Aaron       22    Red  Mango     120    9.0    FL
Christina   28  Black  Melon     172    9.5    TX

# 7) Crie três conjuntos de dados para representar uma relação N:M (Médico, Paciente e Consulta). A partir dos conjuntos realize a integração (merge).

In [63]:
# Conjunto de dados 1
data1 = {
    'ID': [1, 2, 3, 4],
    'Nome': ['ana', 'jao', 'jose', 'joana']
}

df1 = pd.DataFrame(data1)

# Conjunto de dados 2

data2 = {
    'ID': [2, 3, 5],
    'Cargo': ['Gerente', 'Analista', 'Estagiário']
}

df2 = pd.DataFrame(data2)

# Conjunto de dados 3

data3 = {
    'ID': [1, 2, 3, 4, 5],
    'Consulta': ['Consulta1', 'Consulta2', 'Consulta3', 'Consulta4', 'Consulta5']
}

df3 = pd.DataFrame(data3)

# Junção Interna (Inner Join)
inner_join = pd.merge(df1, df2, on='ID', how='inner')
inner_join = pd.merge(inner_join, df3, on='ID', how='inner')
print("Junção Interna (Inner Join):\n", inner_join)

Junção Interna (Inner Join):
    ID  Nome     Cargo   Consulta
0   2   jao   Gerente  Consulta2
1   3  jose  Analista  Consulta3