# Carga e Armazenamento de Dados

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

### Dados JSON

In [2]:
import json
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [4]:
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [7]:
asjson = json.dumps(result)
print(asjson)

{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}

In [6]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [8]:
data = pd.read_json('example.json')
data

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is the correct ...

In [9]:
data.to_json()

'{"quiz":{"maths":{"q1":{"question":"5 + 7 = ?","options":["10","11","12","13"],"answer":"12"},"q2":{"question":"12 - 8 = ?","options":["1","2","3","4"],"answer":"4"}},"sport":{"q1":{"question":"Which one is the correct team name in NBA?","options":["New York Bulls","Los Angeles Kings","Golden State Warriros","Huston Rocket"],"answer":"Huston Rocket"}}}}'

In [10]:
print(data.get("quiz").get("maths").get("q1").get("question"))

5 + 7 = ?

### XML

#### Analisando XML com lxml.objectify

In [13]:
#!conda install lxml -y
from lxml import objectify
import pandas as pd
import xml.etree.ElementTree as ET
import sys

sys.setrecursionlimit(10000)

path = 'performance.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.7.2
  latest version: 23.7.3

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.7.3



## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxslt-1.1.37             |       h0054252_1         248 KB  conda-forge
    lxml-4.9.3                 |  py311h1a07684_0         1.4 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.6 MB

The following NEW packages will be INSTALLED:

  libxslt            conda-forge/linux-64::libxslt-1.1.37-h0054252_1
  lxml               conda-forge/linux-64::lxml-4.9.3-py311h1a07684_0



Downloading and Extracting Packages
lxml-4.9.3           | 1.4 MB    |                                       |   0%
lxml-4.9.3           | 1.4 MB    | 4                                     |   1%
lxml-4.9.3           | 1.4 MB    | ######3                               |  17%
lxml-4.9.3           | 1.4 MB    | ########4                             |  23%
libxslt-1.1.37       | 248 KB    | #######################8              |  64%
lxml-4.9.3           | 1.4 MB    | ##################5                   |  50%
libxslt-1.1.37       | 248 KB    | ##################################### | 100%


Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [14]:
data = []

skip_fields = ['']
#skip_fields = ['AGENCY_NAME']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag not in skip_fields:
            el_data[child.tag] = child.pyval
    data.append(el_data)
data

[{'INDICATOR_SEQ': 28445,
  'PARENT_SEQ': '',
  'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 1,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'DESIRED_CHANGE': 'U',
  'INDICATOR_UNIT': '%',
  'DECIMAL_PLACES': 1,
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.9,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 96.9},
 {'INDICATOR_SEQ': 28445,
  'PARENT_SEQ': '',
  'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'On-Time Performance (West of Hudson)',
  'DESCRIPTION': 'Percent of commuter trains that arrive at their destinations within 5 minutes and 59 seconds of the scheduled time. West of Hudson services include the Pascack Valley and Port Jervis lines. Metro-North Railroad contracts with New Jersey Transit to operate service on these lines.\n',
  'PERIOD_YEAR': 2008,
  'PERIOD_MONTH': 2,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'DESIRED_CHANGE': 'U',
  'INDICATOR_UNIT': '%',
  'DECIMAL_PLACES': 1,
  'YTD_TARGET': 95.0,
  'YTD_ACTUAL': 96.0,
  'MONTHLY_TARGET': 95.0,
  'MONTHLY_ACTUAL': 95.0}]

In [15]:
perf = pd.DataFrame(data)
perf.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.0,96.9,95.0,96.9
1,28445,,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.0,96.0,95.0,95.0

In [18]:
from io import StringIO
tag = '<a href="https://www.google.com">UFSC</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [19]:
print(root)
print(root.get('href'))
print(root.text)

UFSC
https://www.google.com
UFSC

## Formato de Dados Binários

In [20]:
import pandas as pd
frame = pd.read_csv('ex6.csv')
frame
frame.to_pickle('frame_pickle')

In [21]:
frame = pd.read_pickle('frame_pickle')
frame

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

### Usando o Formato HDF5

In [31]:
#!conda install tables -y
import pandas as pd
import numpy as np
frame = pd.DataFrame({'a': np.random.randn(100)})
print(frame)
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store

           a
0   1.127481
1  -0.568363
2   0.309362
3  -0.577385
4  -1.168634
..       ...
95 -0.225524
96  1.349726
97  1.350300
98 -0.386653
99  0.865990

[100 rows x 1 columns]

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [32]:
store['obj1']

           a
0   1.127481
1  -0.568363
2   0.309362
3  -0.577385
4  -1.168634
..       ...
95 -0.225524
96  1.349726
97  1.350300
98 -0.386653
99  0.865990

[100 rows x 1 columns]

In [33]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  1.457300
11  0.609512
12 -0.493779
13  1.239980
14 -0.135722
15  1.430042

In [35]:
store.close()

In [38]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

ValueError: The file 'mydata.h5' is already opened, but not in read-only mode (as requested).

In [28]:
store.remove('obj1')

ClosedFileError: mydata.h5 file is not open!

In [37]:
import os
os.remove('mydata.h5')

### Lendo Arquivos do Microsoft Excel

In [39]:
import pandas as pd
xlsx = pd.ExcelFile('ex1.xlsx')

In [40]:
pd.read_excel(xlsx, 'Plan1')

   Col1  Col2  Col3  Col4
0     1     2     1     2
1     2     3     4     1
2     1     1     2     1
3     2     2     1     1
4     4     2     1     1

In [41]:
frame = pd.read_excel('ex1.xlsx', 'Plan1')
frame

   Col1  Col2  Col3  Col4
0     1     2     1     2
1     2     3     4     1
2     1     1     2     1
3     2     2     1     1
4     4     2     1     1

In [44]:
#pip install xlsxwriter
writer = pd.ExcelWriter('ex2.xlsx', engine='openpyxl')
frame.to_excel(writer, index=False, sheet_name='Plan1', engine = 'openpyxl')
writer.save()

C:\Users\alexa\AppData\Local\Temp\ipykernel_4540\3416348588.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [43]:
writer.close()

## Interagindo com Web APIs

In [45]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [47]:
data = resp.json()
data[0]['title']

'BUG: Fix astype str issue 54654'

In [48]:
import pandas as pd
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,54687,BUG: Fix astype str issue 54654,[],open
1,54686,"BUG: can't install 2.1.0rc0. ""Inconsistent ver...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,54685,ENH: support integer bitwise ops in ArrowExten...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
3,54684,DOC: Fix inacurate documentation info (#54547),[],open
4,54682,BUG: support non-nanos Timedelta objects in Py...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,54681,Bug Fix for documentation: 54547,[],open
6,54680,DOC: add url variable for link attribution in ...,[],open
7,54679,Incorrect reading of CSV containing large inte...,[],open
8,54678,COMPAT: Workaround invalid PyArrow duration co...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
9,54677,ENH: add `atol` to pd.DataFrame.compare(),"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
10,54676,"REF: use single-test-class for datetimetz, per...","[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
11,54675,Smcbeth/series write parquet,[],open
12,54673,CLN: assorted,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
13,54671,BUG: PyArrow-backed DataFrame not exportable t...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,54670,BUG: drop_duplicates raising for boolean arrow...,"[{'id': 3303158446, 'node_id': 'MDU6TGFiZWwzMz...",open
15,54668,API: Make searchsorted raise TypeError on mism...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
16,54667,BUG: drop_duplicates raises unexpected error f...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,54666,ENH: numba engine in df.apply,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
18,54665,BUG:,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
19,54663,DEPR: BaseNoReduceTests,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
20,54661,"BUG: is_string_dtype(pd.Index([], dtype='O')) ...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,54660,PDEP-6: special case (allow) upcasting to floa...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
22,54659,BUG: read_pickle omit timezone when reading ol...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,54657,ENH: let .dt.isocalendar() return float64 in p...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
24,54656,BUG: Inconsistent behaviour of is_string_dtype,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,54655,BUG: _apply_rule() ignores tz info on an empty...,"[{'id': 60458168, 'node_id': 'MDU6TGFiZWw2MDQ1...",open
26,54654,BUG: ensure_string_array may change the array ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,54653,DOC: fix build failure with sphinx 7 and SOURC...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
28,54652,Removes None type from max_info_rows,[],open
29,54651,BUG: pd.to_sql fails with an ARRAY of composites,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

## Interagindo com Banco de Dados Relacional

In [64]:
#pip install mysql.connector
import mysql.connector

In [ ]:
cnx = mysql.connector.connect(user='root', password='master',
                              host='localhost',
                              database='bd')

In [ ]:
from mysql.connector import errorcode

TABLES = {}
TABLES['empregado'] = (
    "CREATE TABLE `empregado` ("
    "  `emp_id` int(11) NOT NULL AUTO_INCREMENT,"
    "  `nome` varchar(100) NOT NULL,"
    "  `data_nascimento` date NOT NULL,"
    "  `data_contratacao` date NOT NULL,"
    "  PRIMARY KEY (`emp_id`)"
    ") ENGINE=InnoDB")

In [ ]:
cursor = cnx.cursor()

for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Criando tabela {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("Tabela já existe.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()

Criando tabela empregado: OK

True

In [ ]:
from datetime import date, datetime, timedelta

cursor = cnx.cursor()

datetime = datetime.now().date()

add_employee = ("INSERT INTO empregado "
               "(nome, data_nascimento, data_contratacao) "
               "VALUES (%s, %s, %s)")

data_employee = ('Funcionário 1', date(1977, 6, 14), datetime)

# Insert a new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid
print(emp_no)

cnx.commit()

cursor.close()

1

True

In [ ]:
cursor = cnx.cursor()

query = ("SELECT emp_id, nome, data_nascimento, data_contratacao FROM empregado "
         "WHERE data_nascimento BETWEEN %s AND %s")

hire_start = date(1977, 1, 1)
hire_end = date(1977, 12, 31)

cursor.execute(query, (hire_start, hire_end))

for (emp_id, nome, data_nascimento, data_contratacao) in cursor:
  print("{}, {} foi contrato em {:%d/%m/%Y}".format(
    emp_id, nome, data_contratacao))

cursor.close()

1, Funcionário 1 foi contrato em 06/09/2022

True

In [ ]:
cnx.close()

## Interagindo com MongoDB

In [ ]:
#pip install pymongo
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')

In [ ]:
db = client['ciencia_dados']

collection = db['unidade_2']

In [ ]:
import datetime
post = {"author": "Mike",
         "text": "My first blog post!",
         "tags": ["mongodb", "python", "pymongo"],
         "date": datetime.datetime.utcnow()}

In [ ]:
post_id = collection.insert_one(post).inserted_id
post_id

ObjectId('631a11aa0b18dfd06151c720')

In [ ]:
db.list_collection_names()

['clientes', 'textual_search']

In [ ]:
import pprint
pprint.pprint(collection.find_one())

{'_id': ObjectId('6317365b2ac0cfd0d5f01754'),
 'author': 'Mike',
 'date': datetime.datetime(2022, 9, 6, 12, 0, 26, 421000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [ ]:
collection.find_one({"author": "Mike"})

{'_id': ObjectId('6317365b2ac0cfd0d5f01754'),
 'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['mongodb', 'python', 'pymongo'],
 'date': datetime.datetime(2022, 9, 6, 12, 0, 26, 421000)}

In [ ]:
post_id

ObjectId('6317365b2ac0cfd0d5f01754')

In [ ]:
pprint.pprint(collection.find_one({"_id": post_id}))

{'_id': ObjectId('6317365b2ac0cfd0d5f01754'),
 'author': 'Mike',
 'date': datetime.datetime(2022, 9, 6, 12, 0, 26, 421000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [ ]:
for post in collection.find():
     pprint.pprint(post)

{'_id': ObjectId('6317365b2ac0cfd0d5f01754'),
 'author': 'Mike',
 'date': datetime.datetime(2022, 9, 6, 12, 0, 26, 421000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [ ]:
collection.count_documents({})

1

In [ ]:
collection.drop()

In [ ]:
client.close()