In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [9]:
tup = tuple([4, 0, 2])
print(tup)
tup = tuple('string')
tup

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')

In [10]:
tup[0]

's'

In [12]:
tup = tuple(['foo', [1, 2], True])
print(tup)
tup[1] = [False]

('foo', [1, 2], True)

TypeError: 'tuple' object does not support item assignment

In [13]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [15]:
tups = (4, None, 'ciência') + (6, 0) + ('dados',)
print(tups)

In [9]:
('ciência', 'dados') * 4

('ciência',
 'dados',
 'ciência',
 'dados',
 'ciência',
 'dados',
 'ciência',
 'dados')

In [10]:
#desempacotamento de tuplas
tup = (4, 5, 6)
a, b, c = tup
b

5

In [11]:
#desempacotamento de tuplas
tup = (4, 5, (6, 7))
a, b, (c, d) = tup
a, c

(4, 6)

In [12]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b, rest

(1, 2, [3, 4, 5])

In [13]:
a = (1, 2, 2, 2, 3, 4, 3)
a.count(2)

3