In [2]:
import pandas as pd
import numpy as np
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [3]:
obj.index  # like range(4)

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2)
obj2.index

d    4
b    7
a   -5
c    3
dtype: int64

Index(['d', 'b', 'a', 'c'], dtype='object')

In [7]:
obj2['a']
obj2['d'] = 6
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [8]:
print(obj2[obj2 > 0])
print(obj2 * 2)
print(np.exp(obj2))

d    6
b    7
c    3
dtype: int64
d    12
b    14
a   -10
c     6
dtype: int64
d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [10]:
'b' in obj2
'e' in obj2

False

In [11]:
sdata = {'SC': 35000, 'RS': 71000, 'PR': 80000, 'SP': 120000}
obj3 = pd.Series(sdata)
obj3

SC     35000
RS     71000
PR     80000
SP    120000
dtype: int64

In [12]:
states = ['RJ', 'SC', 'PR', 'RS']
obj4 = pd.Series(sdata, index=states)
obj4

RJ        NaN
SC    35000.0
PR    80000.0
RS    71000.0
dtype: float64

In [13]:
pd.notnull(obj4)

RJ    False
SC     True
PR     True
RS     True
dtype: bool

In [14]:
obj4.isnull()

RJ     True
SC    False
PR    False
RS    False
dtype: bool

In [16]:
obj3
obj4
obj3 + obj4

PR    160000.0
RJ         NaN
RS    142000.0
SC     70000.0
SP         NaN
dtype: float64

In [17]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
RJ        NaN
SC    35000.0
PR    80000.0
RS    71000.0
Name: population, dtype: float64

In [19]:
obj
obj.index = ['João', 'Maria', 'Alex', 'Victor']
obj

João      4
Maria     7
Alex     -5
Victor    3
dtype: int64