In [1]:
# Carrega as bibliotecas
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier # importa o Decision Tree Classifier
from sklearn.model_selection import train_test_split # importa o método train_test_split 
from sklearn import metrics #importa as métricas de avaliação de modelos do scikit-learn
from sklearn.model_selection import cross_validate # importa o método de cross validation
from sklearn import preprocessing

In [14]:
# Define as colunas
col_names = ['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug']
# Carrega o dataset
df = pd.read_csv("drug200.csv", header=None, names=col_names)
#label unacc=2, acc=0, good=1, v-good=3

#cria uma instância de labelEncoder
le = preprocessing.LabelEncoder()
# Converte strings em números
df['Drug'] = le.fit_transform(df['Drug'].astype(str))
df['BP'] = le.fit_transform(df['BP'].astype(str))
df['Cholesterol'] = le.fit_transform(df['Cholesterol'].astype(str))
df['Sex'] = le.fit_transform(df['Sex'].astype(str))
df

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     0
1     47    1   1            0   13.093     3
2     47    1   1            0   10.114     3
3     28    0   2            0    7.798     4
4     61    0   1            0   18.043     0
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     3
196   16    1   1            0   12.006     3
197   52    1   2            0    9.894     4
198   23    1   2            1   14.020     4
199   40    0   1            1   11.349     4

[200 rows x 6 columns]

In [15]:
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0   25.355     0
1   47    1   1            0   13.093     3
2   47    1   1            0   10.114     3
3   28    0   2            0    7.798     4
4   61    0   1            0   18.043     0

In [17]:
#Separa o conjunto de dados em atributos previsores e atributo alvo/meta
feature_cols = ['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']
X = df[feature_cols] # Características (atributos previsores)
y = df.Drug # Variável alvo/meta (atributo alvo)
print(X)
print(y)

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   0            0   25.355
1     47    1   1            0   13.093
2     47    1   1            0   10.114
3     28    0   2            0    7.798
4     61    0   1            0   18.043
..   ...  ...  ..          ...      ...
195   56    0   1            0   11.567
196   16    1   1            0   12.006
197   52    1   2            0    9.894
198   23    1   2            1   14.020
199   40    0   1            1   11.349

[200 rows x 5 columns]
0      0
1      3
2      3
3      4
4      0
      ..
195    3
196    3
197    4
198    4
199    4
Name: Drug, Length: 200, dtype: int64

In [18]:
# Separa o conjunto de dados em treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 60% treinamento e 40% teste
print(X_train)
print(X_test)
print(y_train)
print(y_test)

     Age  Sex  BP  Cholesterol  Na_to_K
116   67    1   2            1    9.514
67    17    1   2            1   10.832
78    19    0   0            0   13.313
42    50    1   2            1   15.790
17    43    1   0            0   13.972
..   ...  ...  ..          ...      ...
133   24    1   2            0   25.786
137   35    0   0            0   12.894
72    24    0   2            0   10.605
140   49    1   0            1    6.269
37    39    1   1            1   13.938

[140 rows x 5 columns]
     Age  Sex  BP  Cholesterol  Na_to_K
58    60    1   2            1   10.091
40    73    0   2            0   19.221
34    53    1   2            0   14.133
102   28    0   1            0   13.127
184   18    0   0            0   37.188
198   23    1   2            1   14.020
95    36    1   1            1   11.424
4     61    0   1            0   18.043
29    45    1   1            0   17.951
168   51    0   1            1   23.003
171   45    1   1            1   10.017
18    23    1   1            0    7.298
11    34    0   0            1   19.199
89    50    0   2            1   17.211
110   50    1   0            0    7.490
118   32    0   0            1   10.292
159   34    0   1            1   12.923
35    46    1   2            1    7.285
136   55    0   0            0   10.977
59    34    1   0            0   18.703
51    67    1   2            1   10.898
16    69    1   1            1   11.455
44    50    0   2            1   12.295
94    56    1   1            0   15.015
31    74    1   0            0    9.567
162   43    1   2            1   12.859
38    39    0   2            1    9.709
28    39    0   1            1   22.697
193   72    1   1            0    6.769
27    49    0   2            1    9.381
47    68    1   1            0   10.291
165   38    1   1            0   18.295
194   46    0   0            0   34.686
177   25    1   2            0   19.011
176   48    1   0            1   10.446
97    56    0   0            0   25.395
174   42    1   0            1   12.766
73    41    0   2            1   22.905
69    18    0   0            1   24.276
172   39    0   2            1   17.225
108   72    1   0            1    9.677
107   42    1   1            0   20.013
189   64    1   0            1   20.932
14    50    0   2            0   12.703
56    65    1   0            1   11.340
19    32    0   0            1   25.974
114   20    0   2            1    9.281
39    15    1   2            0    9.084
185   57    0   2            1   25.893
124   53    0   0            1   12.495
98    20    1   0            1   35.639
123   36    0   2            0   16.753
119   61    0   0            0   25.475
53    24    0   0            1   18.457
33    65    0   0            1   31.876
179   67    0   2            0   15.891
181   59    0   2            0   13.884
106   22    1   2            0   11.953
199   40    0   1            1   11.349
138   51    1   0            1   11.343
116    4
67     4
78     1
42     0
17     1
      ..
133    0
137    1
72     4
140    1
37     4
Name: Drug, Length: 140, dtype: int64
58     4
40     0
34     4
102    3
184    0
198    4
95     4
4      0
29     0
168    0
171    4
18     3
11     0
89     0
110    1
118    1
159    4
35     4
136    2
59     0
51     4
16     4
44     4
94     0
31     2
162    4
38     4
28     0
193    3
27     4
47     3
165    0
194    0
177    0
176    1
97     0
174    1
73     0
69     0
172    0
108    2
107    0
189    0
14     4
56     2
19     0
114    4
39     4
185    0
124    2
98     0
123    0
119    0
53     0
33     0
179    0
181    4
106    4
199    4
138    2
Name: Drug, dtype: int64

In [19]:
# Importa o classificador K-Neighbors
from sklearn.neighbors import KNeighborsClassifier

#Cria uma instância do classificador K-NN
knn = KNeighborsClassifier(n_neighbors=5)

#Treina o modelo
knn.fit(X_train, y_train)

#Realiza a predição com o conjunto de teste
y_pred = knn.predict(X_test)

In [20]:
# Apresenta a acurácia do modelo
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6333333333333333

In [21]:
# Importa o classificador GaussianNB
from sklearn.naive_bayes import GaussianNB

# Cria uma instância do classificador
gnb = GaussianNB()

# Treina o modelo 
gnb.fit(X_train, y_train)

#Realiza a predição com o conjunto de teste
y_pred = gnb.predict(X_test)

In [22]:
# Apresenta a acurácia do modelo
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8666666666666667

In [23]:
# Importa o classificador Random Forest
from sklearn.ensemble import RandomForestClassifier

# Cria uma instância classificador
rfc=RandomForestClassifier(n_estimators=100)

# Treina o modelo usando os conjuntos de treinamento (características e rótulo para predição)
rfc.fit(X_train,y_train)

#Realiza a predição com o conjunto de teste
y_pred=rfc.predict(X_test)

In [25]:
# Apresenta a acurácia do modelo
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.95